<section class="addTask-daily">
<fieldset class="task-name">
    <label for="taskName">task name</label>
    <input type="text" name="taskName"></input>
</fieldset>
<section class="color">
  <div class="color1"></div>
  <div class="color2"></div>
  <div class="color3"></div>
  <div class="color4"></div>
  <div class="color5"></div>
  <div class="color6"></div>
</section>
<fieldset class="estimated-time">
  <label for="e-time">Estimated Time</label>
  <div>
  <input type="text" name="e-time"></input>
  <label for="e-time">Hours</label>
  </div>
</fieldset>
<div class ="addTask">
   <i class="fa-solid fa-circle-plus"></i> 
</div>
</section>