<section class="tasks">
  <div class="tasks__desc">
    <h3 class="tasks__title">Task1</h3 class="tasks__title">
    <i class="fa-solid fa-play"></i>
    <button class="check">Done</button>
    </div>
  <div class="play-time">
    <div class="play-time__time">05:00</div>
    <div class="play-time__bar"></div>
  </div>
  
  <div class="tasks__desc">
    <h3 class="tasks__title">Task2</h3 class="tasks__title">
    <i class="fa-solid fa-play"></i>
    <button class="check">Done</button>
    </div>
    <div class="play-time">
      <div class="play-time__time">04:00</div>
      <div class="play-time__bar"></div>
    </div>
  
  <div class="tasks__desc">
    <h3 class="tasks__title">Task3</h3 class="tasks__title">
    <i class="fa-solid fa-play"></i>
    <button class="check">Done</button>
    </div>
    <div class="play-time">
      <div class="play-time__time">03:00</div>
      <div class="play-time__bar"></div>
    </div>
  
</section>