<form action="">
<fieldset class="task-name">
    <label for="taskName">task name</label>
    <input type="text" name="taskName"></input>
</fieldset>
<fieldset class="select-icon">
<h2 class="select-icon__title">select icon</h2>
<!-- debería poner un fieldset o un form? -->
<section class="default-icons">
    <a href=""><i class="fa-solid fa-glass-water"></i></a>
    <a href=""><i class="fa-solid fa-book"></i></a>
    <a href=""><i class="fa-solid fa-prescription-bottle-medical"></i></a>
    <a href=""><i class="fa-solid fa-seedling"></i></a>
    <a href=""><i class="fa-solid fa-mug-hot"></i></a>
    <a href=""><i class="fa-solid fa-dumbbell"></i></a>
    <a href=""><i class="fa-solid fa-paw"></i></a>
     
</section>
<div class="addimg">
    <button>Add Image</button>
</div>
</fieldset>
<fieldset class="notify">
    
    <label for="">Notify by mail?</label>
    <input type="radio" name="" id="">
    <label for="">Yes</label>
    <input type="radio" name="" id="">
    <label for="">No</label>
    
    <div class="notifyPeriod">
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for=""> Days</label>
        </div>
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for="">Weeks</label>
        </div>
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for="">Months</label>
        </div>
    </div>
</fieldset>
</form>
<div class ="addTask">
   <i class="fa-solid fa-circle-plus"></i> 
</div>
<!-- necesito poner anchors en los iconos? como debo de mencionar los links de los iconos? -->






<!-- <a href="https://www.flaticon.es/iconos-gratis/planta" title="planta iconos">Planta iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/gato" title="gato iconos">Gato iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/educacion-fisica" title="educación física iconos">Educación física iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/arena" title="arena iconos">Arena iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/libro" title="libro iconos">Libro iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/botella-de-agua" title="botella de agua iconos">Botella de agua iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/comida" title="comida iconos">Comida iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/medicamento" title="medicamento iconos">Medicamento iconos creados por Freepik - Flaticon</a> -->