<form action="">
<fieldset class="Task-name">
    <label for="taskName">task name</label>
    <input type="text" name="taskName"></input>
</fieldset>
<fieldset>
<h2 class="select-icon__title">select icon</h2>
<!-- debería poner un fieldset o un form? -->
<section class="default-icons">
    <a href=""><img class="icon" src="./assets/images/icons/agua.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/libro-abierto.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/medicamento.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/regando-plantas.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/taza-de-cafe.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/yoga.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/gato.png" alt=""></a>
    <a href=""><img class="icon" src="./assets/images/icons/arenero.png" alt=""> </a> 
</section>
<div class="addimg">
    <button>Add Image</button>
</div>
</fieldset>
<fieldset class="notify">
    <input type="radio" name="" id="">
    <input type="radio" name="" id="">
    <div>
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for=""></label>
        </div>
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for=""></label>
        </div>
        <div>
            <input type="radio" name="" id="">
            <input type="text" name="" id="">
            <label for=""></label>
        </div>
    </div>
</fieldset>
</form>
<div>
   <i class="fa-solid fa-circle-plus"></i> 
</div>
<!-- necesito poner anchors en los iconos? como debo de mencionar los links de los iconos? -->






<!-- <a href="https://www.flaticon.es/iconos-gratis/planta" title="planta iconos">Planta iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/gato" title="gato iconos">Gato iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/educacion-fisica" title="educación física iconos">Educación física iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/arena" title="arena iconos">Arena iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/libro" title="libro iconos">Libro iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/botella-de-agua" title="botella de agua iconos">Botella de agua iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/comida" title="comida iconos">Comida iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/medicamento" title="medicamento iconos">Medicamento iconos creados por Freepik - Flaticon</a> -->