<section class="settings">
<section class="theme">
  <p class="themeDark">Dark theme</p>
  <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</section>
  <div class="separator"></div>
<section class="report">
  <form action="">
    <label for="fname">Report me every</label>
  <input type="text" id="fname" name="fname"> <span>days</span>
  </form>
</section>    
  <div class="separator"></div>
<section class="language">
  <form action="">
    <label for="">Language</label>
    <input type="radio" name="" id=""><span>ES</span>
    <input type="radio" name="" id=""><span>EN</span>
  </form>
</section>  
</section>