.header {
}

.fa-arrow-left{
  font-size: 2.0rem;
  margin-left: $margin-mobile;
  margin-top: $margin-mobile;
  color:#F5704A;
  //cuando esté en display none añadir 15px más al margin top del titulo
  display:none;
}
.header_here {
  display: flex;
  justify-content: space-between;
  margin-left: $margin-mobile;
  margin-top: $margin-mobile;

}

  .add {
    font-size: 2.0rem;
    margin-right: $margin-mobile;
    color:#F5704A
  }
  .separator{
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
    margin-left: $margin-mobile;
    margin-right: $margin-mobile;
  }