* {
  font-size: 1.8rem;
}
.task-name,
.select-icon,
.notify {
  border: none;
}

.task-name {
  margin-top: 20px;
  margin-left: 15px;
}
.select-icon__title {
  margin-top: 30px;
  text-transform: capitalize;
  margin-left: 15px;
}
.default-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.default-icons i {
  font-size: 4.5rem;
}

.addimg {
  margin-top: 20px;
  margin-left: 15px;
}

.notify {
  margin-top: 20px;
  margin-left: 15px;
}

.notifyPeriod {
  margin-top: 20px;
}

.addTask {
  margin-top: 40px;
  text-align: right;
  margin-right: 15px;
}
.addTask i {
  font-size: 3.8rem;
}